body {
    /* width: 100vw;
    height: 100vh; */
}

.first {
    height: 100vh;
    display: flex;
    width: 100%;
    background-image: url("images/bg-masthead.jpg");
    background-position: left; 
    background-repeat: no-repeat;
    background-size: cover;
}

.second {
    padding: 120px 0;
    background-color: #ffffff;

}
.third {
    background-color: #1d809f;
    height: 550px;
}

.fourth {
    height: 100vh;
    background-image: url("images/bg-callout.jpg");
    background-position: left; 
    background-repeat: no-repeat;
    background-size: cover;
}
.fifth {
    padding-bottom: 150px;
  
}
.seventh {
    padding: 120px 0;
    background-color: #1d809f;
}

.footer {
    padding: 120px 0;
    background-color: #ffffff;
    width: 100%;
    height: 300px;
}

.maps {
    width: 100%;
    height: 480px;
}

.textbox {
    width: 650px;
    align-self: center;
    text-align: center;
    margin: 0 auto;
}
.textbox2 {

    width: 840px;
    align-self: center;
    text-align: center;
    margin: 0 auto;
}

.textbox3 {
    padding-top: 60px;
    align-self: center;
    text-align: center;
    margin: 0 auto;
}
.textbox4 {
    padding-top: 350px;
    align-self: center;
    text-align: center;
    margin: 0 auto;
}
.textbox5 {
    padding-top: 50px;
    align-self: center;
    text-align: center;
    margin: 0 auto;
}

.textbox7 {
    padding-top: 50px;
    align-self: center;
    text-align: center;
    margin: 0 auto;
}
.textboxfooter {
    /* padding-top: 50px; */
    align-self: center;
    text-align: center;
    margin: 0 auto;
}

.first h1 {
    font-size: 80px;
    font-weight: bold;
}

.first h2 {
    font-size: 25px;
    font-weight: bold;
}

.second h1 {
    font-size: 26px;
    font-weight: bold;
}
.second h2 {
    font-size: 15.5px;
}
.third h2 {
    font-size: 15px;
    font-weight: bold;
    color: #b6b307;

}

.third h1 {
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    padding-bottom: 50px;
}
.fourth h1 {
    font-size: 50px;
    font-weight: bold;
    color: #000000;
}

.maintext4 {
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    padding-top: 20px;
}

.secondtext4 {
    font-size: 14px;
    font-weight: lighter;
    color: #bcd4d1;
}

.fifth h2 {
    font-size: 20px;
    font-weight: bold;
    color: #b6b307;
}

.fifth h1 {
    font-size: 50px;
    font-weight: bold;
    color: #000000;
}

.seventh h1 {
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
}
.photobox h2 {
    color: #ffffff;
    font-size:  13px;
    text-align: left;
}

.photobox p {
    color: #ffffff;
    text-align: left;
    font-size: 15px;
}
.container-fluid {

}

.flex {
    display: flex;
}

.button {
    width: 185px;
    height: 65px;
    background-color: #1d809f;
    border: none;
    color: #ffffff;
    align-self: center;
    margin-top: 40px;
    font-weight: bold;
    border-radius: 4%;
}

.button2 {
    width: 185px;
    height: 65px;
    background-color: #343a40;
    border: none;
    color: #ffffff;
    margin-top: 40px;
    border-radius: 4%;
    font-weight: bold;
}

.button7-1 {
    width: 145px;
    height: 67px;
    background-color: #ffffff;
    border: none;
    border-radius: 4%;
    color: #000000;
    margin-top: 40px;
    font-weight: bold;
}

.button7-2 {
    width: 160px;
    height: 67px;
    background-color: #343a40;
    border: none;
    border-radius: 4%;
    color: #ffffff;
    margin-top: 40px;
    font-weight: bold;
    margin-left: 25px;
}

.iconframe {
    height: 110px;
    width: 110px;
    background-color: #ffffff;
    border-radius: 100%;
    display: inline-block;
}

.iconframefooter {
    height: 65px;
    width: 65px;
    background-color: #1d809f;
    border-radius: 100%;
    display: inline-block;
}

.photobox {
    position: absolute;
    bottom: 100px;
    left: 100px;
}

#googleMap {
    width: 100%;
    height: 480px;
}

.copyright {
    padding-top: 130px;
    font-size: 15px;
}

.blue {
    color: #1d809f;
}

.fas {
    font-size: 40px;
    position: relative;
    top: 33px;
    color: #1d809f;
}

.far {
    font-size: 40px;
    position: relative;
    top: 33px;
    color: #1d809f;
}