body {
    /* width: 100vw;
    height: 100vh; */
}

.first {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-image: url("images/bg-masthead.jpg");
    background-position: left; 
    background-repeat: no-repeat;
    background-size: cover;
}

.textbox {
    height: 180px;
    width: 650px;
    align-self: center;
}

.maintext {
 font-size: 65px;
 font-weight: 700;
}
.second-text {
    font-size: 40px;
    font-weight: 500;
}

.container-fluid {
    display: flex;
}