body {
    /* width: 100vw;
    height: 100vh; */
}

.first {
    height: 100vh;
    display: flex;
    width: 100%;
    background-image: url("images/bg-masthead.jpg");
    background-position: left; 
    background-repeat: no-repeat;
    background-size: cover;
}

.second {
    padding: 120px 0;
    background-color: #ffffff;

}
.third {
    background-color: #1d809f;
    height: 550px;
}

.fourth {
    height: 100vh;
    background-image: url("images/bg-callout.jpg");
    background-position: left; 
    background-repeat: no-repeat;
    background-size: cover;
}
.fifth {
    /* height: 100vh; */
  
}

.textbox {
    width: 650px;
    align-self: center;
    text-align: center;
    margin: 0 auto;
}
.textbox2 {

    width: 840px;
    align-self: center;
    text-align: center;
    margin: 0 auto;
}

.textbox3 {
    padding-top: 100px;
    align-self: center;
    text-align: center;
    margin: 0 auto;
}
.textbox4 {
    padding-top: 350px;
    align-self: center;
    text-align: center;
    margin: 0 auto;
}
.textbox5 {
    padding-top: 50px;
    align-self: center;
    text-align: center;
    margin: 0 auto;
}

.first h1 {
    font-size: 85px;
}

.first h2 {
    font-size: 30px;
}

.second h1 {
    font-size: 26px;
    font-weight: 750;
}
.second h2 {
    font-size: 16px;
    font-weight: 750;
}
.third h2 {
    font-size: 20px;
    font-weight: bold;
    color: #b6b307;
}

.third h1 {
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
}
.fourth h1 {
    font-size: 50px;
    font-weight: bold;
    color: #000000;
}

.maintext4 {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}

.secondtext4 {
    font-size: 20px;
    font-weight: bold;
    color: #bcd4d1;
}

.fifth h2 {
    font-size: 20px;
    font-weight: bold;
    color: #b6b307;
}

.fifth h1 {
    font-size: 50px;
    font-weight: bold;
    color: #000000;
}

.photobox h2 {
    color: #ffffff;
    font-size:  15px;
}
.container-fluid {

}

.flex {
    display: flex;
}

.button {
    width: 185px;
    height: 65px;
    background-color: #1d809f;
    border: none;
    color: #ffffff;
    align-self: center;
    margin-top: 40px;
}

.button2 {
    width: 185px;
    height: 65px;
    background-color: #000000;
    border: none;
    color: #ffffff;
    margin-top: 40px;
}

.iconframe {
    height: 120px;
    width: 120px;
    background-color: #ffffff;
    border-radius: 100%;
    display: inline-block;
}

.photobox {
    position: absolute;
    bottom: 100px;
    left: 100px;
}