body {
    background: #4AA270;
    align-items: center;
    height: 100%;
    width: 100%;

}
.container {
    overflow: hidden;
    margin: 220px auto;
    width: 320px;
    box-sizing: border-box;
}

.box {
    padding: 20px;
    background-color: #FFFFFF;
    height: 280px;
    box-sizing: border-box;

}

.buttons {
    display: flex;
    height: 40px;

}

.lButton {
    width: 50%;
    color: #000000;
    background-color: #FFFFFF;
    border: 0;
    padding: 10px 10px 10px 30px;
    cursor: pointer;
    min-height: 40px;
    justify-content: center;
}

.rButton {
    width: 50%;
    color: #FFFFFF;
    background-color: #E1E1E1;
    border: 0;
    padding: 10px 10px 10px 30px;
    cursor: pointer;
    min-height: 40px;
    justify-content: center;
}

.boxReg {
    padding: 20px;
    background-color: #FFFFFF;
    height: 600px;
    box-sizing: border-box;
}

.field {
    display: flex;
    position: relative;
    width: 100%;
    padding: 2px;
    background-color: #FFFFFF;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: #E1E1E1;
    border-width: 1px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    box-shadow: inset 20px 20px #FFFFFF;
}

.label {
    display: flex;
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    right: -2px;
    border-style: none;
}

.field:focus{
    outline:none;
    border-color: #4AA270;
}

.rButton:focus {
    outline: 0;
    border-bottom: 1px solid #FFFFFF;
    box-shadow: 0 3px 0 #4AA270;
}

.lButton:focus {
    outline: 0;
    border-bottom: 1px solid #FFFFFF;
    box-shadow: 0 3px 0 #4AA270;
}

.sigin {
    background-color: #4AA270;
    color: white;
    padding: 6px 14px;
    border: none;
    width: 40%;
    position: relative;
    top: 60px;
    float: right;
}

.sigin:focus {
    outline: 1;
    outline-color: #4AA270;
}
.forgot-link {
    position: relative;
    float: left;
    top: 65px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    color: #97D8D7;
}
.regButton {
    background-color: #4AA270;
    color: white;
    padding: 6px 14px;
    border: none;
    width: 40%;
    position: relative;
    top: 5px;
    float: right;
}
.labelspace {
    display: flex;
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    right: -2px;
    border-style: none;
}
.labelradio {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    right: -2px;
    border-style: none;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    color: #4AA270;
    text-align: center;

}
.allreg {
    color: #4AA270;
}

.feed {
    display: flex; /* or inline-flex */
    width: 61%;
    background-color: #F8F8F8;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}
 
.feed-box {
    height: 425px;
    width: 270px;
    background-color:#ffffff;
    position: relative;
    overflow: hidden;
    margin: 5px;
}
 
.feed-box-image {
    height: auto;
    width: 100%;

}
.feed-box:nth-child(4n-3) {
    width: 560px;
}
.feed-box-title {
    position: absolute;
    bottom: 0;
    padding: 5px;
    background-color: #ffffff;
    width: 100%;
}
.feed-box-image-container {
    overflow: hidden;
    height: 290px;
    width: auto;

}

* {
    box-sizing: border-box;
}

.feed-box-heading {
    overflow-wrap: break-word;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
/* @media only screen (grafikos dydis) {

} */

.mygtukasPaieska {
    text-align: right;
    background: white;
    margin: auto;
}

.searchbutton {
    background-color: #4AA270;
    color: white;
    padding: 6px 14px;
    border: none;
    width: 30%;
    position: absolute;
    top: 45px;
    right: 20px;

}

.paieska {
    display: block;
    width: 300px;
    background-color: #ffffff;
    min-height: 140px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
    position: relative;
    top: 100px;
    padding: 10px;
}
.allUsers {
    display: block;
    width: 20%;
    background-color: #F8F8F8;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}
.userInfo {
    display: block;
    width: 20%;
    background-color: #F8F8F8;
    margin-top: 250px;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
    padding: 10px;
}

.textPad {
    padding: 20px;
    background-color: white;
    width: 400px;
    margin: 250px auto;
}
.fieldPost {
    display: flex;
    position: relative;
    width: 100%;
    padding: 10px;
    background-color: #FFFFFF;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: #E1E1E1;
    border-width: 1px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    box-shadow: inset 20px 20px #FFFFFF;
}
.fieldPost:focus{
    outline:none;
    border-color: #4AA270;
}
.postButton {
    background-color: #4AA270;
    color: white;
    padding: 6px 14px;
    border: none;
    width: 30%;
    position: relative;
    top: -15px;
    float: right;
}
.readmore a {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #494949;
}
.readmore {
    position: relative;
    float: right;
    right: 20px;
}
.boxLogin {
    display: flex; /* or inline-flex */
    background-color: transparent;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
    padding: 10px;
}
.containerlogin {
    overflow: hidden;
    margin: 220px auto;
    width: 320px;
    box-sizing: border-box;
}
@media only screen and (max-width: 1024px) {
    .feed {
      position: relative;
      bottom: 0px;
    } 
} 
@media only screen and (max-width: 768px) {
  .feed {
    position: relative;
    bottom: -20px;
  } 
} 

@media only screen and (max-width: 425px) {
    .feed {
      position: relative;
      bottom: -45px;
    } 
}
@media only screen and (max-width: 375px) {
    .feed {
      position: relative;
      bottom: -45px;
    } 
}   
@media only screen and (max-width: 320px) {
    .feed {
      position: relative;
      bottom: -70px;
    } 
}  

.allUsers a {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #494949;
    overflow-wrap: break-word;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px;
    background-color: #000000;
    color: #ffffff;
}
.navigation {
    width: 100%;
    background-color: #000000;
    z-in
}