body {
    background: #4AA270;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

}
.container {
    overflow: hidden;
    margin: 220px auto;
    width: 320px;
    box-sizing: border-box;
}

.box {
    padding: 20px;
    background-color: #FFFFFF;
    height: 280px;
    box-sizing: border-box;

}

.buttons {
    display: flex;
    height: 40px;

}

.lButton {
    width: 50%;
    color: #000000;
    background-color: #FFFFFF;
    border: 0;
    padding: 10px 10px 10px 30px;
    cursor: pointer;
    min-height: 40px;
    justify-content: center;
}

.rButton {
    width: 50%;
    color: #FFFFFF;
    background-color: #E1E1E1;
    border: 0;
    padding: 10px 10px 10px 30px;
    cursor: pointer;
    min-height: 40px;
    justify-content: center;
}

.boxReg {
    padding: 20px;
    background-color: #FFFFFF;
    height: 600px;
    box-sizing: border-box;
}

.field {
    display: flex;
    position: relative;
    width: 100%;
    padding: 2px;
    background-color: #FFFFFF;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: #E1E1E1;
    border-width: 1px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    box-shadow: inset 20px 20px #FFFFFF;
}

.label {
    display: flex;
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    right: -2px;
    border-style: none;
}

.field:focus{
    outline:none;
    border-color: #4AA270;
}

.rButton:focus {
    outline: 0;
    border-bottom: 1px solid #FFFFFF;
    box-shadow: 0 3px 0 #4AA270;
}

.lButton:focus {
    outline: 0;
    border-bottom: 1px solid #FFFFFF;
    box-shadow: 0 3px 0 #4AA270;
}

.sigin {
    background-color: #4AA270;
    color: white;
    padding: 6px 14px;
    border: none;
    width: 40%;
    position: relative;
    top: 60px;
    float: right;
}

.sigin:focus {
    outline: 1;
    outline-color: #4AA270;
}
.forgot-link {
    position: relative;
    float: left;
    top: 65px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    color: #97D8D7;
}
.regButton {
    background-color: #4AA270;
    color: white;
    padding: 6px 14px;
    border: none;
    width: 40%;
    position: relative;
    top: 5px;
    float: right;
}
.labelspace {
    display: flex;
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    right: -2px;
    border-style: none;
}
.labelradio {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    right: -2px;
    border-style: none;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    color: #4AA270;
    text-align: center;

}
.allreg {
    color: #4AA270;
}

.feed {
    display: flex; /* or inline-flex */
    width: 61%;
    background-color: #F8F8F8;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}
 
.feed-box {
    height: 425px;
    width: 270px;
    background-color:#ffffff;
    position: relative;
    overflow: hidden;
    margin: 5px;
}
 
.feed-box-image {
    height: auto;
    width: 100%;

}
.feed-box:nth-child(4n-3) {
    width: 560px;
}
.feed-box-title {
    position: absolute;
    bottom: 0;
    padding: 5px;
    background-color: #ffffff;
    width: 100%;
}
.feed-box-image-container {
    overflow: hidden;
    height: 290px;
    width: auto;

}

* {
    box-sizing: border-box;
}

.feed-box-heading {
    overflow-wrap: break-word;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.mygtukasPaieska {
    text-align: right;
    background: white;
    margin: auto;
}

.searchbutton {
    background-color: #4AA270;
    color: white;
    padding: 6px 14px;
    border: none;
    width: 30%;
    position: absolute;
    top: 45px;
    right: 20px;

}

.paieska {
    display: block;
    width: 300px;
    background-color: #ffffff;
    min-height: 140px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
    position: relative;
    top: 100px;
    padding: 10px;
}

.textPad {
    padding: 20px;
    background-color: white;
    width: 400px;
    margin: 250px auto;
}
.fieldPost {
    display: flex;
    position: relative;
    width: 100%;
    padding: 10px;
    background-color: #FFFFFF;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: #E1E1E1;
    border-width: 1px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    box-shadow: inset 20px 20px #FFFFFF;
}
.fieldPost:focus{
    outline:none;
    border-color: #4AA270;
}
.postButton {
    background-color: #4AA270;
    color: white;
    padding: 6px 14px;
    border: none;
    width: 30%;
    position: relative;
    top: -15px;
    float: right;
}
.feed-box-heading a {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #494949;
    border: none;
    text-decoration: none;
}

.boxLogin {
    display: flex; /* or inline-flex */
    background-color: transparent;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
    padding: 10px;
}
.containerlogin {
    overflow: hidden;
    margin: 220px auto;
    width: 320px;
    box-sizing: border-box;
}

.nav {
    position: fixed;
    width: 100%;
    background-color: #494949;
    overflow: hidden;
    top: 0px;
    z-index: 100;
    left: 0px;
} 
 
.nav ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
    width: 100%;
  }
   
  .nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .5s;
  }
   
  .nav a:hover {
    background-color: #025e10;
  }
   
  .nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
  }
  .users {
    display: flex;
    width: 80%;
    background-color: #F8F8F8;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}
.userinfo {
    display: flex;
    width: 20%;
    background-color: #F8F8F8;
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}
  
  @media screen and (min-width: 769px) {
    .nav li {
      width: 120px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      font-size: 1.4em;
      display: inline-block;
      margin-right: -4px;
    }
}
   
@media only screen and (max-width: 1440px) {
    .feed-box:nth-child(4n+4) {
        width: 560px;
    }
    .feed {
        margin-top: 45px;    
    }
}
@media only screen and (max-width: 1024px) {
    .feed-box:nth-child(1n) {
        width: 48%;
    }
    .feed {
        width: 75%;
        margin-top: 30px;     
    }
    .users-box:nth-child(1n) {
        width: 32%;
    }
    .users {
        margin-top: 30px; 
    }
    .userinfo {
        width: 30%;
    }

}
@media only screen and (min-width: 1023px) {
    .navh {
        display: none;
    } 
 }
 @media only screen and (max-width: 1023px) {
        .nav ul {
        display: none;
    }
}


@media only screen and (max-width: 768px) {
    .feed-box:nth-child(1n) {
        width: 100%;
    }
    .users-box:nth-child(1n) {
        width: 48%;
    }
    .users {
        margin-top: 93px; 
    }
    .userinfo {
        width: 40%;
    }
}    
@media only screen and (max-width: 425px) {
    .feed-box:nth-child(1n) {
        width: 100%;
    }
    .feed {
        width: 90%;
        margin-top: 30px; 
    }
    .users {
        width: 90%;
        margin-top: 30px; 
    }
    .userinfo {
        width: 60%;
        margin-top: 30px; 
    }
}    
@media only screen and (max-width: 320px) {
    .feed-box:nth-child(1n) {
        width: 100%;
    }
    .feed {
        width: 95%;   
    }
    .users {
        width: 95%;   
    }
    .userinfo {
        width: 90%;
    }
}    
.allUsers a {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #494949;
    overflow-wrap: break-word;
}

.users-box {
    height: 425px;
    width: 270px;
    background-color:#ffffff;
    position: relative;
    overflow: hidden;
    margin: 5px;
}
 
.users-box-image {
    height: auto;
    width: 100%;

}

.users-box-info {
    position: absolute;
    bottom: 0;
    padding: 5px;
    background-color: #ffffff;
    width: 100%;
}
.users-box-image-container {
    overflow: hidden;
    height: 290px;
    width: auto;

}
.users-box-heading {
    overflow-wrap: break-word;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

.userinfo-box {
    height: 425px;
    width: 100%;
    background-color:#ffffff;
    position: relative;
    overflow: hidden;
    margin: 5px;
}
 
.userinfo-box-image {
    height: auto;
    width: 100%;

}

.userinfo-box-info {
    position: absolute;
    bottom: 0;
    padding: 5px;
    background-color: #ffffff;
    width: 100%;
}
.userinfo-box-image-container {
    overflow: hidden;
    height: 290px;
    width: auto;

}
.userinfo-box-heading {
    overflow-wrap: break-word;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

.tableinfo {
    margin-top: 100px;
    max-width: 100%;
    min-height: 100%;
}

thead {
    background-color: #6D7AE0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-align: left;

}

tbody {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    

}

table {
    border-collapse: collapse;
    border-radius: 12px;
    border: none;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
    width: 50%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;

}

th {
    border: none;
    padding: 5px 40px;
    height: 60px;
    font-weight: normal !important;
}

td {
    border: none;
    /* padding: 5px 40px; */
    text-align: center;
    height: 50px;
    font-weight: normal !important;
    border-bottom: 1px solid #F2F2F2;
    text-align: left;
}

td a {
    padding: 15px 40px;
    text-decoration: none;
    color: #646464;
}
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
        display: block;
    }
    table {
        width: 90%;
    }

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
    }

	tr { border: 1px solid #ccc; }
	
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
    }
    
	td:nth-of-type(1):before { content: "Full name"; }
	td:nth-of-type(2):before { content: "Age"; }
	td:nth-of-type(3):before { content: "Job Title"; }
	td:nth-of-type(4):before { content: "Location"; }
}


.navh {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #2cc030;
    transition: ease-out 0.15s;
}

.nav ul.active {
    display: block;
}

/* .navh:hover {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid, #ff8306; */
    /* transition: ease-in 0.15s; */
/* } */

.navh:active {
    width: 0;
    height: 0;
    border-left: 38px solid transparent;
    border-right: 38px solid transparent;
    border-top: 38px solid #ff0000;
}

.nav ul li a:hover {
    background-color: #4AA270;
}

.nav ul li a:active {
    background-color: #ff0000;
}
navh.focus {
    border-top: 38px solid #ff0000;
}

.calc {
    display: flex;
    height: 480px;
    width: 350px;
    position: relative;
    top: 200px;
    left: 500px;
    border: solid 1px #000000; 
}

.calc-top-box {
    height: 120px;
    width: 350px; 
    border: solid 1px #000000; 
}

.calc-buttons {
    height: 40px;
    width: 350px; 
    border: solid 1px #000000; 
}

.calc-buttons-box {
    height: 37px;
    width: 35px;
    border: solid 1px #000000; 
    display: inline-flex;
}
.calc-bottom-box {
    
}